@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  color: black;
}
body h1,
body h6 {
  font-family: "Shrikhand", sans-serif;
  color: black;
  font-style: italic;
}
body h1 {
  font-size: 28px;
  font-weight: bold;
}
body h2 {
  font-size: 24px;
}
body h3 {
  font-size: 18px;
}
body p {
  font-size: 14px;
}

/* Mixin Heart*/
/* Mixin Check-Circle*/
/*.........NOUVEAU........*/
/* Mixin Align center*/
/* Mixin BOUTONS */
/* La fonction scaleY() modifie l'ordonnée de chaque sommet de l'élément avec un facteur multiplicateur */
@keyframes grow {
  0%, 100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1.8);
    transform: scaleY(1.8);
  }
}
/* La fonction rotate applique une rotation autour d'un point */
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*SPINNER*/
@keyframes loader {
  0% {
    z-index: 1000;
    opacity: 1;
  }
  95% {
    z-index: 1000;
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/* Header Pages*/
#header_other div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header_other div i {
  color: black;
}
#header_other div a {
  position: absolute;
  left: 1rem;
}
#header_other div img {
  width: 70%;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media screen and (min-width: 1024px) {
  #header_other div img {
    width: 100%;
  }
}

/* Header Index*/
#header_index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#header_index img {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media screen and (min-width: 1024px) {
  #header_index img {
    width: 90%;
  }
}
#header_index #blocHead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}
@media screen and (min-width: 1024px) {
  #header_index #blocHead {
    width: 50%;
    text-align: center;
  }
}
#header_index #blocHead .searchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #dcdcdc;
  background-color: #dcdcdc;
  width: 100%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
#header_index #blocHead .searchSection #search {
  text-align: center;
  background-color: #dcdcdc;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}
#header_index #blocHead p,
#header_index #blocHead h1 {
  display: flex;
  text-align: center;
}
#header_index #blocHead #explore {
  color: white;
  border: 2px solid #f2f2f2;
  background-image: linear-gradient(to left, #9356dc, #ff79da);
  border-radius: 40px;
  height: 50px;
  font-weight: bold;
  width: 40%;
}
#header_index #blocHead #explore:hover {
  opacity: 0.8;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #Ohmyfood {
  width: 100%;
  height: auto;
  border: 2px solid #353535;
  background-color: #353535;
}
@media screen and (min-width: 1024px) {
  footer #Ohmyfood {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  footer #Ohmyfood .navFooter {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 768px) {
  footer #Ohmyfood .navFooter {
    display: flex;
    justify-content: space-around;
  }
}
footer #Ohmyfood h3 {
  margin-left: 15px;
  font-style: italic;
}
footer #Ohmyfood p {
  margin-left: 20px;
  color: white;
}
footer #Ohmyfood a {
  color: white;
  text-decoration: none;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  color: #9356dc;
  background-color: #99e2d0;
  z-index: 1000;
  display: flex;
  animation: loader 3s;
  animation-fill-mode: forwards;
}
#loader span {
  margin: auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Bloc Fonctionnement */
#function {
  padding-top: 20px;
  width: 100%;
}
#function h2 {
  width: 100%;
  margin-left: 20px;
}
#function .blocFunction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  #function .blocFunction {
    flex-direction: row;
    justify-content: space-around;
  }
}
#function .blocFunction .bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: auto;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  box-shadow: 8px 8px 12px #cfcdcd;
  background-color: #f2f2f2;
  margin-bottom: 30px;
  text-align: center;
}
#function .blocFunction .bloc :nth-child(3) {
  flex: 2;
}
@media screen and (min-width: 1024px) {
  #function .blocFunction .bloc {
    width: 25%;
  }
}
#function .blocFunction .bloc i {
  margin-right: 15px;
}
#function .blocFunction .bloc i:hover {
  color: #9356dc;
}
#function .blocFunction .bloc:hover {
  background-color: #dfb7ff;
}
#function .blocFunction .bloc .number {
  border-radius: 50px;
  padding: 5px 10px 5px 10px;
  background-color: #9356dc;
  color: white;
  margin-left: -10px;
  margin-right: 10px;
}

/* Bloc Etablissements */
#etablissements {
  width: 100%;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
}
@media screen and (min-width: 1024px) {
  #etablissements {
    display: flex;
    flex-direction: column;
  }
}
#etablissements h2 {
  margin-left: 20px;
}
@media screen and (min-width: 1024px) {
  #etablissements h2 {
    width: 100%;
  }
}
#etablissements .blocRestau {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  #etablissements .blocRestau {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}
#etablissements .restaurent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
@media screen and (min-width: 1024px) {
  #etablissements .restaurent {
    display: flex;
    width: 20%;
  }
}
#etablissements .restaurent .abcd {
  display: flex;
  justify-content: center;
  width: 800px;
  flex-direction: column;
  border: 2px solid #f2f2f2;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: left;
  /* .................... Animation Coeur .................... */
}
#etablissements .restaurent .abcd .btn__card {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-bottom: -40px;
}
#etablissements .restaurent .abcd .btn__card .new {
  color: #008766;
  background: #99e2d0;
  border: 5px solid #99e2d0;
  border-radius: 5px;
  position: relative;
  right: 2%;
  top: 55%;
}
#etablissements .restaurent .abcd a {
  text-decoration: none;
}
#etablissements .restaurent .abcd a img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
#etablissements .restaurent .abcd a .titleHeart {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  color: black;
}
#etablissements .restaurent .abcd a .titleHeart h3 {
  margin-left: 15px;
  text-align: left;
  color: black;
}
#etablissements .restaurent .abcd a .titleHeart p {
  margin-left: 15px;
  color: black;
}
#etablissements .restaurent .abcd a .titleHeart i {
  cursor: pointer;
}
#etablissements .restaurent .abcd #span_1 {
  position: relative;
  bottom: 55px;
  font-size: 22px;
}
#etablissements .restaurent .abcd #span_1 #h_1 {
  opacity: 0;
  background-color: white;
  -webkit-background-clip: text;
  color: transparent;
  width: 1.5rem;
  margin-left: 90%;
  transition: opacity 2s;
}
#etablissements .restaurent .abcd #span_1 #h_2 {
  width: 1.5rem;
  margin-left: 90%;
  color: #353535;
}
#etablissements .restaurent .abcd #span_1:hover #h_1 {
  opacity: 1;
  background-image: linear-gradient(to top right, #fca2f7, #9356dc);
  -webkit-background-clip: text;
  color: transparent;
}
#etablissements .restaurent .abcd #span_1:hover #h_2 {
  opacity: 0;
}
#etablissements .restaurent .abcd #span_2 {
  position: relative;
  bottom: 55px;
  font-size: 22px;
}
#etablissements .restaurent .abcd #span_2 #h_3 {
  opacity: 0;
  background-color: white;
  -webkit-background-clip: text;
  color: transparent;
  width: 1.5rem;
  margin-left: 90%;
  transition: opacity 2s;
}
#etablissements .restaurent .abcd #span_2 #h_4 {
  width: 1.5rem;
  margin-left: 90%;
  color: #353535;
}
#etablissements .restaurent .abcd #span_2:hover #h_3 {
  opacity: 1;
  background-image: linear-gradient(to top right, #fca2f7, #9356dc);
  -webkit-background-clip: text;
  color: transparent;
}
#etablissements .restaurent .abcd #span_2:hover #h_4 {
  opacity: 0;
}
#etablissements .restaurent .abcd #span_3 {
  position: relative;
  bottom: 55px;
  font-size: 22px;
}
#etablissements .restaurent .abcd #span_3 #h_5 {
  opacity: 0;
  background-color: white;
  -webkit-background-clip: text;
  color: transparent;
  width: 1.5rem;
  margin-left: 90%;
  transition: opacity 2s;
}
#etablissements .restaurent .abcd #span_3 #h_6 {
  width: 1.5rem;
  margin-left: 90%;
  color: #353535;
}
#etablissements .restaurent .abcd #span_3:hover #h_5 {
  opacity: 1;
  background-image: linear-gradient(to top right, #fca2f7, #9356dc);
  -webkit-background-clip: text;
  color: transparent;
}
#etablissements .restaurent .abcd #span_3:hover #h_6 {
  opacity: 0;
}
#etablissements .restaurent .abcd #span_4 {
  position: relative;
  bottom: 55px;
  font-size: 22px;
}
#etablissements .restaurent .abcd #span_4 #h_7 {
  opacity: 0;
  background-color: white;
  -webkit-background-clip: text;
  color: transparent;
  width: 1.5rem;
  margin-left: 90%;
  transition: opacity 2s;
}
#etablissements .restaurent .abcd #span_4 #h_8 {
  width: 1.5rem;
  margin-left: 90%;
  color: #353535;
}
#etablissements .restaurent .abcd #span_4:hover #h_7 {
  opacity: 1;
  background-image: linear-gradient(to top right, #fca2f7, #9356dc);
  -webkit-background-clip: text;
  color: transparent;
}
#etablissements .restaurent .abcd #span_4:hover #h_8 {
  opacity: 0;
}

body {
  margin: auto;
}
body form {
  display: flex;
  justify-content: center;
  width: 400px;
}
body form .btnAccueil {
  color: white;
  border: 2px solid #f2f2f2;
  background-image: linear-gradient(to left, #9356dc, #ff79da);
  border-radius: 40px;
  height: 50px;
  font-weight: bold;
  width: 70%;
}
body form .btnAccueil:hover {
  opacity: 0.8;
}
@media screen and (min-width: 1024px) {
  body form .btnAccueil {
    width: 100%;
  }
}
body form .btnCommander {
  color: white;
  border: 2px solid #f2f2f2;
  background-image: linear-gradient(to left, #9356dc, #ff79da);
  border-radius: 40px;
  height: 50px;
  font-weight: bold;
  width: 70%;
}
body form .btnCommander:hover {
  opacity: 0.8;
}
@media screen and (min-width: 1024px) {
  body form .btnCommander {
    width: 100%;
  }
}
body .imgResto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
}
body .imgResto img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  body .imgResto img {
    height: 450px;
  }
}
@media screen and (min-width: 1024px) {
  body .imgResto img {
    height: 650px;
  }
}
body .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 99%;
  border: 2px solid #dcdcdc;
  border-radius: 60px 60px 0 0;
  box-shadow: 8px 8px 12px #cfcdcd;
  background-color: #f2f2f2;
  margin-top: -50px;
}
@media screen and (min-width: 1024px) {
  body .menu {
    margin-top: -50px;
  }
}
body .menu .titreMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
@media screen and (min-width: 1024px) {
  body .menu .titreMenu {
    justify-content: center;
  }
}
body .menu .titreMenu h1 {
  margin-top: 30px;
  margin-left: 5px;
}
body .menu .titreMenu #span_5 {
  padding-bottom: 10px;
  font-size: 20px;
}
@media screen and (min-width: 1024px) {
  body .menu .titreMenu #span_5 {
    font-size: 22px;
  }
}
body .menu .titreMenu #span_5 #h_9 {
  opacity: 0;
  background-color: white;
  -webkit-background-clip: text;
  color: transparent;
  width: 1.5rem;
  margin-left: 80%;
  transition: opacity 2s;
}
body .menu .titreMenu #span_5 #h_10 {
  width: 1.5rem;
  margin-left: 80%;
  color: #353535;
}
body .menu .titreMenu #span_5:hover #h_9 {
  opacity: 1;
  background-image: linear-gradient(to top right, #fca2f7, #9356dc);
  -webkit-background-clip: text;
  color: transparent;
}
body .menu .titreMenu #span_5:hover #h_10 {
  opacity: 0;
}
body .menu h2 {
  text-decoration: underline #99e2d0 5px;
}
body .menu h3 {
  margin-top: 10px;
  font-size: 18px;
}
@media screen and (min-width: 1024px) {
  body .menu h3 {
    width: 100%;
    font-size: 24px;
  }
}
body .menu p {
  font-size: 14px;
}
@media screen and (min-width: 375px) {
  body .menu p {
    font-size: 18px;
  }
}

/*..........Animation Menu ..........*/
.imgResto img {
  width: 50%;
}

.entreesMenu {
  animation: fadein 2s ease-in-out;
  width: 90%;
}
@media screen and (min-width: 1024px) {
  .entreesMenu {
    width: 50%;
  }
}

.platsMenu {
  animation: fadein 6s ease-in-out;
  width: 90%;
}
@media screen and (min-width: 1024px) {
  .platsMenu {
    width: 50%;
  }
}

.dessertsMenu {
  animation: fadein 10s ease-in-out;
  width: 90%;
}
@media screen and (min-width: 1024px) {
  .dessertsMenu {
    width: 50%;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 30px;
  height: 80px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
.icon .fa-check-circle {
  color: white;
  transition: transform 500ms ease-in-out;
}

.entree {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #dcdcdc;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.entree:hover {
  padding-right: 75px;
}
.entree:hover .icon {
  opacity: 1;
  transform: translate(-50px);
}
.entree:hover .fa-check-circle {
  transform: rotate(360deg);
}
.entree h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.plat {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #dcdcdc;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.plat:hover {
  padding-right: 75px;
}
.plat:hover .icon {
  opacity: 1;
  transform: translate(-50px);
}
.plat:hover .fa-check-circle {
  transform: rotate(360deg);
}
.plat h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.dessert {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 6px #dcdcdc;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.dessert:hover {
  padding-right: 75px;
}
.dessert:hover .icon {
  opacity: 1;
  transform: translate(-50px);
}
.dessert:hover .fa-check-circle {
  transform: rotate(360deg);
}
.dessert h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.blocPrix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}

.blocPrix p {
  margin: 0;
  margin-right: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
