/* Mixin Heart*/

@mixin span_base_heart {
    position: relative;
    bottom: 55px;
    font-size: 22px;
}

@mixin heart_full {
    opacity: 0;
    background-color: white;
    -webkit-background-clip: text;
    color: transparent;
    width: 1.5rem;
    margin-left: 90%;
    transition: opacity 2s;
}

@mixin heart_full_2 {
    opacity: 0;
    background-color: white;
    -webkit-background-clip: text;
    color: transparent;
    width: 1.5rem;
    margin-left: 80%;
    transition: opacity 2s;
}

@mixin heart_full_hover {
    opacity: 1;
    background-image: $bckg-heart;
    -webkit-background-clip: text;
    color: transparent;
}

@mixin heart_empty {
    width: 1.5rem;
    margin-left: 90%;
    color: $color-p;
}

@mixin heart_empty_2 {
    width: 1.5rem;
    margin-left: 80%;
    color: $color-p;
}


/* Mixin Check-Circle*/

@mixin elements {
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 4px 6px $color-shadowGrey;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: padding-right 450ms ease-in-out;
    &:hover {
        padding-right: 75px;
    }
    &:hover .icon {
        opacity: 1;
        transform: translate(-50px);
    }
    &:hover .fa-check-circle {
        transform: rotate(360deg);
    }
}


/*.........NOUVEAU........*/

@mixin btn-card {
    color: #008766;
    background: $color-tertiary;
    border: 5px solid $color-tertiary;
    border-radius: 5px;
    position: relative;
    right: 2%;
    top: 55%;
}

@mixin icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-tertiary;
    width: 30px;
    height: 80px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    padding: 20px;
    right: -50px;
    top: 0;
    opacity: 0;
    transition: transform 330ms ease-in-out;
    & .fa-check-circle {
        color: white;
        transition: transform 500ms ease-in-out;
    }
}


/* Mixin Align center*/

@mixin alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Mixin BOUTONS */

@mixin button {
    color: white;
    border: 2px solid $color-lightGrey;
    background-image: $linear-gradient;
    border-radius: 40px;
    height: 50px;
    font-weight: bold;
    &:hover {
        opacity: 0.8;
    }
}

// Ajout des mixin pour le responsive
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin mobile {
    @media screen and (min-width: map-get($breakpoints, mobile)) {
        @content;
    }
}