$color-primary: #9356dc;
$color-secondary: #fca2f7;
$color-tertiary: #99e2d0;
$linear-gradient: linear-gradient(to left, #9356dc, #ff79da);
$color-lightGrey: #f2f2f2;
$color-shadowGrey: #dcdcdc;
$color-spinner: #ff4ff6;
$bckg-heart: linear-gradient(to top right, $color-secondary, $color-primary);
$color-p: rgb(53, 53, 53);