main {
    @include alignCenter;
    flex-direction: column;
}

#function {
    padding-top: 20px;
    width: 100%;
    @include desktop {
        width: 50%;
    }
    .bloc {
         :nth-child(3) {
            flex: 2;
        }
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        border: 2px solid $color-lightGrey;
        border-radius: 20px;
        box-shadow: 8px 8px 12px #cfcdcd;
        background-color: $color-lightGrey;
        margin-bottom: 30px;
        text-align: center;
        i {
            margin-right: 15px;
            &:hover {
                color: $color-primary;
            }
        }
        &:hover {
            background-color: #dfb7ff;
        }
        .number {
            border-radius: 50px;
            padding: 5px 10px 5px 10px;
            background-color: $color-primary;
            color: white;
            margin-left: -10px;
            margin-right: 10px;
        }
    }
}

#etablissements {
    width: 100%;
    border: 2px solid $color-lightGrey;
    background-color: $color-lightGrey;
    @include desktop {
        width: 50%;
    }
    h2 {
        margin-left: 20px;
    }
    .restaurent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .abcd {
            display: flex;
            justify-content: center;
            width: 800px;
            flex-direction: column;
            border: 2px solid $color-lightGrey;
            background-color: white;
            border-radius: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: left;
            .btn__card {
                display: flex;
                align-items: center;
                justify-content: right;
                margin-bottom: -40px;
                .new {
                    @include btn-card;
                }
            }
            a {
                text-decoration: none;
                img {
                    border-radius: 20px 20px 0 0;
                    width: 100%;
                    height: 200px;
                    @include tablet {
                        width: 100%;
                    }
                    @include desktop {
                        width: 100%;
                        height: 300px;
                    }
                }
                .titleHeart {
                    display: flex;
                    justify-content: space-between;
                    color: black;
                    margin-right: 30px;
                    h3 {
                        margin-left: 15px;
                        text-align: left;
                        color: black;
                    }
                    i {
                        cursor: pointer;
                        margin-top: 30px;
                        &:hover {
                            -webkit-transform: scale(1.3);
                            transform: scale(1.3);
                            color: $color-primary;
                        }
                    }
                }
            }
            p {
                margin-left: 15px;
                color: black;
            }
        }
    }
}