/*..........Animation Menu ..........*/

.imgResto {
    img {
        width: 50%;
    }
}

.entreesMenu {
    animation: fadein 2s ease-in-out;
    width: 90%;
    @include desktop {
        width: 50%;
    }
}

.platsMenu {
    animation: fadein 6s ease-in-out;
    width: 90%;
    @include desktop {
        width: 50%;
    }
}

.dessertsMenu {
    animation: fadein 10s ease-in-out;
    width: 90%;
    @include desktop {
        width: 50%;
    }
}

.icon {
    @include icon;
}

.entree {
    @include elements;
    h3 {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.plat {
    @include elements;
    h3 {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.dessert {
    @include elements;
    h3 {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.blocPrix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5em;
}

.blocPrix p {
    margin: 0;
    margin-right: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}