/* Header Pages*/

#header_other {
    div {
        display: flex;
        align-items: center;
        justify-content: space-around;
        i {
            color: black;
        }
        a {
            position: absolute;
            left: 1rem;
        }
        img {
            width: 70%;
            margin-bottom: 10px;
            margin-top: 10px;
            @include desktop {
                width: 100%;
            }
        }
    }
}


/* Header Index*/

#header_index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
        @include desktop {
            width: 90%;
        }
    }
    #blocHead {
        @include alignCenter;
        flex-direction: column;
        border: 2px solid $color-lightGrey;
        background-color: $color-lightGrey;
        width: 100%;
        height: auto;
        padding-bottom: 30px;
        @include desktop {
            width: 50%;
            text-align: center;
        }
        .searchSection {
            @include alignCenter;
            border: 2px solid $color-shadowGrey;
            background-color: $color-shadowGrey;
            width: 100%;
            height: auto;
            padding-top: 15px;
            padding-bottom: 15px;
            #search {
                text-align: center;
                background-color: $color-shadowGrey;
                border: none;
                color: black;
                font-weight: bold;
                font-size: 14px;
            }
        }
        p,
        h1 {
            display: flex;
            text-align: center;
        }
        #explore {
            @include button;
            width: 40%;
        }
    }
}