header {
    @include alignCenter;
    flex-direction: column;
    .logo {
        width: 50%;
        @include desktop {
            width: 90%;
        }
    }
}

#blocHead {
    @include alignCenter;
    flex-direction: column;
    border: 2px solid $color-lightGrey;
    background-color: $color-lightGrey;
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    @include desktop {
        width: 50%;
        text-align: center;
    }
    .searchSection {
        @include alignCenter;
        border: 2px solid $color-shadowGrey;
        background-color: $color-shadowGrey;
        width: 100%;
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
        #search {
            background-color: $color-shadowGrey;
            border: none;
            color: black;
            font-weight: bold;
            font-size: 14px;
        }
    }
    #explore {
        @include button;
        width: 40%;
    }
}