#loader {
    position: fixed;
    height: 100vh;
    width: 100vw;
    color: #9356dc;
    background-color: #99e2d0;
    z-index: 1000;
    display: flex;
    animation: loader 3s;
    animation-fill-mode: forwards;
    span {
        margin: auto;
    }
}