body {
    font-family: "Roboto", sans-serif;
    color: black;
    h1,
    h6 {
        font-family: "Shrikhand", sans-serif;
        color: black;
        font-style: italic;
    }
    h1 {
        font-size: 30px;
        font-weight: bold;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 18px;
    }
}